/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(135deg, #1e1e2f, #282845);
    color: #fff;
    overflow-x: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Navigation */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(30, 30, 47, 0.9);
    padding: 15px 30px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffaf40;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li {
    display: inline;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: color 0.3s ease;
}
nav ul li a:hover {
    color: #ffaf40;
}


/* Hero Section */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: url('images/fon3.jpg') center/cover no-repeat;
    color: whitesmoke;
    box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.8);
    padding: 0 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.hero h1 { 
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.hero p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.hero .btn {
    background: #ffaf40;
    color: white;
    padding: 15px 30px;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
    transition: background 0.3s ease;
}
.hero .btn:hover {
    background: #ffc780;
}


section{
    text-align: center;
padding: 70px 0px;
}

.profile-img {
max-width: 100%;
height: auto;
border-radius: 50%;
object-fit: cover;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6), 0 0 10px rgba(255, 175, 64, 0.5);
border: 4px solid #ffaf40;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-photo:hover {
transform: scale(1.1);
box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8), 0 0 20px rgba(255, 175, 64, 0.8);
}

/* Основные стили секции */
.about {
    text-align: center;
    padding: 50px 20px;
    color: #333333; /* Основной цвет текста */
}

.about h2 {
    font-size: 2.5rem;
    color: #ffaf40;
    margin-bottom: 30px;
}

/* Контейнер для столбцов */
.about-container {
    display: flex; /* Горизонтальное расположение */
    flex-wrap: wrap; 
    gap: 30px; /* Расстояние между колонками */
    justify-content: center; /* Выравнивание по центру */
    /* max-width: 1200px; */
    margin: 0 auto;
}

/* Стили для каждого столбца */
.about-column {
    flex: 1 1 350px; /* Минимальная ширина 350px, адаптация к разным экранам */
    max-width: 400px; /* Максимальная ширина колонок */
    padding: 20px;
    background: #2e2e47;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Легкая тень */
}

/* Заголовки внутри столбцов */
.about-column h3 {
    font-size: 1.8rem;
    color: #ffaf40;
    margin-bottom: 15px;
}

/* Текст внутри столбцов */
.about-column p {
    text-align: justify; /* Выравнивание текста по обе стороны */
    font-size: 1.2rem;
    line-height: 1.8;
    color: #c0c0c0; /* Убедитесь, что текст виден на белом фоне */
}

/* Ссылки в тексте */
.about-column a {
    color: #ffaf40;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.about-column a:hover {
    color: #ffc780;
}

.projec-text {
margin-top: -40px;
text-align: center;
color: #ffaf40;
font-size: 1.8rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Уменьшена минимальная ширина карточки */
    gap: 20px; /* Увеличен промежуток между карточками */
    padding: 20px; /* Добавлен внутренний отступ для всей секции */
}

.project-card {
    background: #2e2e47;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s;
    text-align: center;
    padding: 15px; /* Увеличен внутренний отступ */
    max-width: 500px; /* Максимальная ширина каждой карточки */
    margin: 0 auto; /* Выравнивание карточек по центру */
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.project-card img {
    width: 100%;
    height: auto; /* Автоматическое соотношение сторон изображения */
    margin-bottom: 10px;
    border-radius: 10px;
}

.project-card h3 {
    margin-bottom: 5px;
    font-size: 1.1rem; /* Уменьшен размер заголовка */
    color: #ffaf40;

}

.project-card p {
    padding: 0 10px;
    color: #c0c0c0;
    font-size: 0.9rem; /* Уменьшен размер текста */
    line-height: 1.4;
    text-align: justify;
}

.project-card a {
    display: block;
    margin: 15px auto 0;
    padding: 8px 15px; /* Уменьшены отступы кнопки */
    background: #ffaf40;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9rem; /* Уменьшен размер текста кнопки */
    width: fit-content;
}

/* Секция Skills */
.skills {
    text-align: center;
    margin: 50px 0;
}

.skills h2 {
    font-size: 2.5rem;
    color: #ffaf40;
    margin-bottom: 30px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

/* Категория навыков */
.skills-category {
    background: #2e2e47;
    padding: 20px;
    border-radius: 15px;
    width: 250px; /* ширина каждой категории */
    text-align: left;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.skills-category:hover {
    transform: translateY(-5px);
}

.skills-category h3 {
    color: #ffc780;
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-align: center;
}

/* Список навыков */
.skills-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skill {
    background: linear-gradient(to right, #ffaf40, #ffc780);
    color: #333;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.skill:hover {
    transform: scale(1.05);
}

/* Contact Section */
.contact {
    background: #1e1e2f;
    /* color: white; */
    padding: 40px 20px;
    text-align: center;
}
.contact h2 {
    font-size: 2rem;
    color: #ffaf40;
    margin-bottom: 30px;
}
/* .contact a {
    color: #ffc780;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 10px;
    display: inline-block;
} */
/* .contact a:hover {
    color: #fff;
} */

.social-links a {
    margin-right: 20px;
    text-decoration: none;
}

.social-links img {
    width: 145px;
    height: 45px;
    transition: transform 0.3s;
}

.social-links img:hover {
    transform: scale(1.1);
}




/* Адаптация для мобильных устройств */
@media (max-width: 599px) {
    /* Уменьшение шрифтов для текста */
    body {
        font-size: 14px;
    }

    nav ul {
        display: none; /* Прячем меню по умолчанию */
        flex-direction: column;
        background: rgba(30, 30, 47, 0.9);
        padding: 10px;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
    }

    nav ul.active {
        display: flex; /* Показываем меню при клике */
    }

    nav .burger {
        display: block; /* Показываем иконку меню */
        cursor: pointer;
    }

    .hero h1 {
        font-size: 2rem; /* Уменьшаем размер заголовков */
    }

    .hero p {
        font-size: 1rem; /* Уменьшаем размер описания */
    }

    .hero .btn {
        padding: 10px 20px; /* Уменьшаем отступы кнопки */
        font-size: 1rem;
    }

    .about-container {
        flex-direction: column; /* Переводим секции в одну колонку */
        gap: 20px;
    }

    .projects {
        grid-template-columns: 1fr; /* Одна колонка для проектов */
    }

    .skills-category {
        width: 100%; /* Растягиваем категории навыков */
    }

    .project-card {
        width: 100%; /* Уменьшаем ширину карточек проектов */
    }

    .contact h2 {
        font-size: 1.5rem;
    }

    .social-links img {
        width: 120px;
        height: 35px;
    }
}



